* {
    box-sizing: border-box;
}

@font-face {
    font-family: norse-bold;
    src: url("../assets/fonts/Norse-Bold.otf");
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
    height: 100vh;
}

p {
    margin: 0;
}

.error {
    border: 1px solid #c43f43;
}

.container {
    width: max(75%, 1200px);
    margin: 0 auto;
    height: 100%;
    display: flex;
}

.section {
    position: relative;
}

.background-section {
    background: url("../assets/images/plant.jpg");
    flex:3;
}

.caption-area {
    color: white;
    font-size: 4rem;
    font-family: norse-bold, sans-serif;
    text-align: center;
    letter-spacing: 10px;
    height: 35vh;
    position: relative;
}

.caption {
    background: rgba(17, 17, 17, 0.6);
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.odin-logo {
    width: 100px;
    height: auto;
}

.footnote {
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    position: absolute;
    bottom: 10px;
    font-size: small;
    text-align: center;
}

.form-section {
    flex: 5;
    background: hsl(210deg 20% 98%);
}

.form-info {
    height: 35vh;
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
    padding-left: 3rem;
}

.form-info div {
    position: absolute;
    bottom: 3rem;
    width: 70%;
}

.form-info p {
    margin-top: 1.5rem;
}

.main-section {
    padding-top: 1rem;
    padding-left: 3rem;
    background: white;
    height: 30vh;
}

.main-section p {
    font-size: 1.5rem;
}

.inputs-container {
    position: relative;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-right: 20%;
    display: flex;
    gap: 2rem;
}

.input-field {
    position: relative;
    flex: 1;
}

input, label {
    display: block;
}

label {
    color: hsl(217deg 9% 38%);
    font-size: 0.9rem;
}

input {
    border: 1px solid hsl(220deg 13% 91%);
    padding-left: 10px;
    border-radius: 5px;
    line-height: 2rem;
    width: 250px;
}

input:focus {
    border-color: hsl(222deg 65% 55%);
    box-shadow: 2px 5px 5px 2px #eeeeee;
}

button {
    margin: 2rem 0;
    padding: 1rem 3rem;
    border: none;
    border-radius: 10px;
    background: hsl(92deg 20% 35%);
    color: white;
}

.second-section {
    padding-left: 3rem;
}

.second-section p{
    margin-top: 1rem;
}

.second-section span {
    color: hsl(92deg 20% 35%);
}
